<h1><%= link_to 'Locations', locations_path %></h1>
<%= render 'locations/locations_table', locations: @locations %>
<h1><%= link_to 'Events', events_path %></h1>
<%= render 'events/events_table', events: @events %>
