/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */



 body {
   margin-top: 120px;
   background-color: #fbf9f9;
   min-height: 100vh; /* will cover the 100% of viewport */
   display: block;
   position: relative;
   padding-bottom: 100px;
   }

 /* #fbf9f9; */
 .navbar-link {
   margin-left: 10px;
 }

 .flex-display {
   display: flex;
 }

 .grid-display {
   display: grid;
 }
 .grid-columns{
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
 }
 .flex-column {
   display: flex;
   flex-direction: column !important;
   justify-content: space-around;
 }

 #home-header {
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
   grid-gap: 20px;
 }

#locations-all {
   margin-top: 1em;
   color: white;
 }

 .btn a {
   color: white;
 }

 .btn-secondary:hover {
   background-color: #30404e !important;
 }

 a:hover {
   text-decoration: none;
   background-color:transparent !important;
}

a.link-style:hover {
  color: pink;
  background-color:transparent;
}



 .devise{
   display: grid;
   justify-items: center;
 }

 .fit {
   margin-top: 30px;
   padding: 20px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0px 3px 20px #A9A9A9;
 }

 h3 {
   font-family: Oswald;
   color: #2A3248;
 }

 h2 {
   color: #2A3248;
   font-family: Oswald;
   font-weight: 300;
 }

 h1 {
   font-family: Oswald;
   color: #2A3248;
 }


 th {
   font-family: Oswald;
   font-weight: 600;
 }

 td {
   font-family: Oswald;
 }

 label {
   color: #2b3248;
   font-family: Oswald;
   font-weight: 300;
 }

 a {
   color: #2A3248;;
   font-family: Oswald;
 }

 em {
   color: white;
 }

 span {
   font-family: Oswald;
   font-weight: 600;
 }

 .locations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 40px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

/* Events */
.event-filter {
  margin-top: 2em;
  margin-bottom: 2em;
}
#week {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-arrow-left {
  font-family: Oswald;
  font-weight: 600;
}

.btn-arrow-right {
  font-family: Oswald;
  font-weight: 600;
}

/* Locations  */

.location-info {
  margin: 20px;
}
.map{
  margin-left: 5px;
}
.content{
  display: flex;
}
.thumbnail {
  margin: 5px;
  position: relative;
  width: 200px;
  overflow: hidden;
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

.logo-container {
  position: relative;
  top: 0;
  left: 0;
}
a.navbar-brand:hover {
  background-color:transparent;
}
.logo-no-ball {
  position: relative;
  top: 0;
  left: 0;
}
.logo-ball {
  position: absolute;
  top: 0;
  left: 0;
}

.link-style {
  color: white;
  text-decoration: none;
  font-family: Oswald;
}

.link-white {
  color: white;
}

.bg-gradient {
  border-bottom: 2px solid #fdc5f5;
  background-color: #2b3248;
  box-shadow: 0px 1px 15px #A9A9A9
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 5555;
  padding: 0 1rem;
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color: #EB649C !important;
  background-image: none;
  display: none !important;
}
.table {
  border-color: none !important;
  border-radius: 10px;
  margin-bottom: 0 !important;
}

.card-container {
  display: grid;
  width: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 20px;
}

.event-card {
  width: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 3px #A9A9A9;
  font-family: Oswald;
  font-weight: 300;
}
.event-card:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 12px #2b3248;
}

.suggestions {
  margin-top: 10px;


}
/* cubic-bezier(0, 0, 0, 1.04) */
#suggestion {
  transition: all ease 1s;
}


.header-container {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 3px #A9A9A9;
  width: 500px;
  margin: 20px 0;
}

#searchbar {
  padding: 10px 0 30px 0;
}

.events-header {
  width: 100%;
}
.header-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 3px #A9A9A9;
  margin: 20px 0;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: .5px solid #68C7EA
}

.btn-primary {
  background-color: #54b9dc;
  border-color: #54b9dc
}

.btn-primary:hover {
  background-color: #436081 !important;
  border-color: #436081 !important;
}

.page-item.active .page-link {
  background-color: #54b9dc !important;
  border-color: #54b9dc !important;
}

a.page-link {
  color: #54b9dc;
}

#heading {
  font-weight: 400;
}

.form-control {
  font-size: 1.5rem;
  text-align: center;
}

.col-5 {
  max-width: 80%;
}

.form-control::placeholder {
  font-size: 1rem;
  text-align: left;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.stickyicky {
  position: sticky;
  top: 20px;
  z-index: 10;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  height: 65px;
  background: linear-gradient(to right, rgba(84,185,220,1) 0%,rgba(83,203,241,1) 36%,#063a5a 100%);
  display: flex;
  justify-content: center;
  align-items: center
}

.icons {
  margin: 0 50px;
  display: flex;
  height: 40px;
  justify-content: space-between
}


.alert {
  top: -45px;
}

h1.profile-header {
  font-size: 70px;
  font-weight: bold;
}

h4.profile-header {
  font-size: 40px;
  font-weight: bold;
}

table.past-events {
  font-size: 12px;
}

.player-card {
  width: 50%;
}

.edit {
  margin: 10px 0;
}

.avatar-small:hover {
  transform: scale(1.5)
}

.actions {
  margin-top: 10px;
  margin-bottom: 10px;
}

input.btn.btn-primary {
  color: white;
}

em {
  font-family: Oswald;
  font-weight: 300;
  -webkit-text-fill-color: #2A3248
}

input#user_email.form-control {
  font-size: 1em;
}

.event-image {
  width: 30%;
  margin: 15px;
}

p {
  font-family: Oswald;
  color: #2A3248;
}

#participants {
  margin-bottom: 15px;
}

#locations-map {
  margin: auto;
}

.invite {
 font-size: 12px;
 font-family: Oswald;
 color: #2A3248;
 margin-top: 8px;
}

.social-links {
  width: 40px;
}

.ssb-icon {
  width: 35px !important;
  background-size: 30px !important;
}

a.ssb-icon {
  height: 40px !important;
}