
<table class="table">
  <thead>
    <tr>
      <th><%= "Name"%></th>
      <th><%= "City"%></th>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location_events_path(location) %></td>
        <td><%= location.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
