<footer class="footer">
  <div class="icons">
    <%= image_tag ("twitter.png"), :width => "40px" %>
  </div>
  <div class="icons">
    <%= image_tag ("instagram.png"), :width => "40px" %>
  </div>
  <div class="icons">
    <%= image_tag ("facebook.png"), :width => "40px" %>
  </div>
</footer>